<section class='public_recipes'>
<h2>Public Recipes</h2>
  <% @public_recipes.each do |recipe| %>
    <ul>
      <li class='public_recipe_list'>
        <div>
          <div><%= recipe.name %></div><br>
          By: <%= recipe.user.name %>
        </div>
        <div>
         <div>Total food items: </div>
         <div>Total price: </div>
        </div>
      </li>
    </ul>
  <% end %>
</section>

<% if flash[:notice] %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% end %>
