<h1><a href="/recipes/new">Create Recipe</a></h1>
<ul class='recipe_body'>
  <% @recipes.each do |recipe| %>
    <li class='recipe_details'>
      <%= render partial: 'partials/recipe', locals: { recipe: recipe, user: @user } %>
    </li>
  <% end %>
</ul>
